<!-- <h1>this is Appcomponent</h1> -->

<!-- ============================================ -->
<!-- 
YOU have to decorate the angular element as html element -->

<!-- <app-test></app-test>

<app-customer-signup></app-customer-signup> -->
<!-- <button class="btn btn-primary">Primary</button> -->

<form style="margin-bottom: 50em">
  <div class="container mt-5">
    <div class="">
      <ul class="list-group list-group-flush">
        <li class="list-group-item p-4 border-bottom border-info">
          <h3>String interpolation | String Data Binding</h3>
          <div class="mt-4">{{ ProjectName }} and {{ title }}</div>
          <div class="mt-4">{{ getCustomerName() }}</div>
        </li>

        <li class="list-group-item p-4 border-bottom border-info">
          <h3>Property Data Binding</h3>
          <div class="row">
            <div class="col-md-6">
              <input type="text" value="Admin" class="form-control mt-4" />
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <input
                type="text"
                [value]="CustomerRole"
                class="form-control mt-4"
              />
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <input [type]="inputType" class="form-check-input mt-4" />
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <input
                [type]="inputType"
                class="form-check-input mt-4"
                [disabled]="disabled"
              />
            </div>
          </div>
        </li>

        <li class="list-group-item p-4 border-bottom border-info">
          <h3>Event Data Binding</h3>
          <div class="row mt-4">
            <div class="col-md-6">
              <input
                type="text"
                placeholder="Key press"
                class="form-control mt-4"
                (keypress)="captureData($event)"
              />
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-md-6">
              <button type="button" (click)="btnClick()" class="btn btn-primary">
                Click
              </button>
            </div>
          </div>
        </li>

        <li class="list-group-item p-4 border-bottom border-info">
          <h3>
            Handling the Event Data binding and Property Data binding together
            in same element
          </h3>
          <ul class="list-group list-group-flush">
            <li class="list-group-item p-4">
              <h6>HTML DOM with (keyUp) and [value]</h6>
              <div class="row mt-4">
                <div class="col-md-6">
                  <input 
                  placeholder="keyup" 
                  class="form-control"
                  (keyup)="evtCusLocationKeyUp($event)"
                  [value]="cusPeterLocation" />
                </div>
                <div class="col-md-6">
                  <p class="text-primary mt-auto">Value is : {{cusPeterLocation}}</p>
                </div>
              </div>
            </li>
             <!-- <li>
                Try to take checkbox apply html DOM(change and value)
             </li> -->

             <!-- <li>
                Try to take checkbox apply Angular(ngmodel and ngmodelchange)
             </li> -->
            <li class="list-group-item p-4">
              <!--1. ngModel which represents the value of that element
                  2. It will fired when ngModel change-->
              <h6>Angular with (ngModelChange) and [ngModel] </h6>
              <div class="row mt-4">
                <div class="col-md-6">
                  <!-- text  that will be in string -->
                  <input 
                  placeholder="Location" 
                  class="form-control"
                  type="text"
                  name="cusJohnLocation"
                  [ngModel] = "cusJohnLocation" 
                  (ngModelChange)="evtCusLocationModelChange($event)" />
                </div>
                <div class="col-md-6">
                  <p class="text-primary mt-auto">Value is : {{cusJohnLocation}}</p>
                </div>
              </div>
            </li>
          </ul>
        </li>

        <!-- {{}}  , []  , () , $event , KeyBoardEvent type  [()] -->

        <li class="list-group-item p-4 border-bottom border-info">
          <h3 class="bullet-icon">Two Way Data binding</h3>
          <div class="row mt-4">
            <div class="col-md-6">
              <input
                type="text"
                placeholder="Key press"
                class="form-control mt-4"
                (keypress)="captureData($event)"
              />
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-md-6">
              <button type="button" (click)="btnClick()" class="btn btn-primary">
                Click
              </button>
            </div>
          </div>
        </li>








      </ul>
    </div>
  </div>
</form>
