<!-- <app-basics></app-basics> -->

<!-- <app-customer-signup></app-customer-signup> -->

<!-- <app-comp-a></app-comp-a> -->

<!-- <div>
   <input type="text">
</div> -->

<app-comp-b>
  <!-- content -->
  
  <input type="text" id="CustomerLocation" placeholder="CustomerLocation" class="form-control" 
  CustomerLocation #CusLocation/>

  <input type="text" class="JobTitle form-control"  placeholder="JobTitle" JobTitle #JobTitle />

  <input type="text" class="JobTitle form-control"  placeholder="KidName" kidName /> -->


</app-comp-b>

