<!-- View child
child of the View
1 .  Can i access directly  element referecen into ts file.
-->
<div style="width: 200em" class="container mt-5">
  <div class="row">
    <ul class="list-group list-group-flush">
      <!--View Child-->
      <li class="list-group-item p-4 border-bottom border-info">
        <div class="row">
          <h3 class="d-inline-flex">ViewChild</h3>
          <span>
            Gives the Element of View Reference in the typescript file with the
            help of referece name
          </span>
        </div>
        <div class="row mt-4">
          <div class="col-4">
            <input
              type="text"
              class="form-control"
              placeholder="CustomerName"
              #CustomerName
            />
          </div>

          <!-- <div class="col-2">
            <button class="btn btn-primary" (click)="btnClick(CustomerName)">Click</button>

          </div> -->

          <div class="col-2">
            <button class="btn btn-success" (click)="btnVClick()">Click</button>
          </div>

          <div class="col-2">
            You have entered :
            <p class="text-success">{{ displayName }}</p>
          </div>
        </div>
      </li>

      <!--ContentChild-->
      <!-- <ngContent></ngContent> -->
      <li class="list-group-item p-4 border-bottom border-info">
        <div class="row" #compBConent>
          <h3 class="d-inline-flex">ContentChild</h3>
          <span>
            Gives the Element of Content Reference in the typescript file with
            the help of referece name
          </span>
        </div>
        <div class="row mt-4">
          <div class="col-4">
            <!-- Executes the content of the component-->
            <!-- <ng-content></ng-content> -->
            <!-- <ng-content select=".JobTitle"></ng-content> -->
            <!-- <ng-content select="#CustomerLocation"></ng-content> -->

            <!-- print the elements -->
            <div class="mt-2">
              <ng-content select="[CustomerLocation]"> </ng-content>
            </div>

            <div class="mt-2">
              <ng-content select="[JobTitle]"> </ng-content>
            </div>
          </div>

          <div class="col-2">
            <button class="btn btn-success" (click)="btnCClick()">Click</button>
          </div>

          <div class="col-2">
            You have entered :
            <span class="text-success">{{ displayCName }}</span> |
            <span class="text-success">{{ displayCJOB }}</span>
          </div>
        </div>
      </li>

      <!--ngContainer-->
      <li class="list-group-item p-4 border-bottom border-info">
        <div class="row">
          <h3 class="d-inline-flex">ngContainer</h3>
          <span>
             Its a angular element which is useful for deploy the template.
             while doing deployment | push  No Additional HTML DOM will be added
          </span>
        </div>
        <div class="row mt-4">
           <div class="col-4">
                 <!--Would't create the any addition HTML DOM to the content-->
               <ng-container 
                  *ngFor="let item of numbers" 
                  style="background-color:red;margin:10px">
                 <p>Hello world {{item}}</p>
               </ng-container>
           </div>

           <div class="col-4">
            <!--HTML Div will be added to the Content-->
            <div
              *ngFor="let item of numbers"
              style="background-color: green; margin: 10px"
            >
              <p>Hello world {{ item }}</p>
            </div>
          </div>

        </div>
      </li>

      <!--TemplateRef-->
      <li class="list-group-item p-4 border-bottom border-info">
        <div class="row">
          <h3 class="d-inline-flex">TemplateRef</h3>
          <span>
            Which gives the reference of the template in the .ts file
          </span>
        </div>
        <div class="row mt-4">
          <div class="col-4">
            <ng-template #CustomerTemplate>
               <div>
                <input
                type="text"
                class="form-control"
                placeholder="CustomerName"
                #CustomerName
              />
               </div>
            </ng-template>
          </div>
          <div class="col-2">
            <button class="btn btn-primary" 
             (click)="btnGetCustomerTemplate()">
              Click
            </button>
          </div>

          <div class="col-4">
            <p>
              You have entered :
              <span class="font-monospace">{{ displayCustomerTemplate }}</span>
            </p>
          </div>
        </div>
      </li>



    
















    </ul>
  </div>
</div>
